name: main

on:
  push:
    branches: [main, test-me-*]
    tags: '*'
  pull_request:

jobs:
  main:
    uses: ./.github/workflows/tox.yml
    with:
      env: '["py310", "py311", "py312", "py313", "py314", "py315", "pypy3"]'
  main-win:
    uses: ./.github/workflows/tox.yml
    with:
      env: '["py310"]'
      os: windows-latest
      arch: '["x64", "x86"]'
  main-mac:
    uses: ./.github/workflows/tox.yml
    with:
      env: '["py310"]'
      os: macos-latest
